#backgroundImage {
    width: 100%;
}

#container {
    width:100%;
    display: flex;
    flex-direction: row;
}

#cont {
    width: 80%;
}

.sideWith {
    width: 20%;
}

#slideing {
    width: 20%;
}

#statistics {
    display: flex;
    justify-content: center;
}

#oof {
    margin: 0;
}

#myChart {
    width: 100%;
    height: 200px;
}

#colorHeader {
    position:absolute;
    width:100%;
    height:25%;
    background-color: #008080;
}

#navRow {
    margin-top:2%;
}

.container {
    width:80%;
    margin-left:0;
    margin-right:0;
}

i.icon-white {
    font-size:30px;
    color:white;
}

nav {
    height: 50px;
    line-height: 50px;
    background-color:rgb(0,186,200);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 35px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

#icons {
    text-align:right;
}

#topRow {
    height:250px;
}


.topCard {
    height:250px;
}

#midRow {
    height:250px;
}

.midCard {
    height:250px;
}

.row {
    margin-top:5%;
    margin-bottom:7%;
}

.clickable {
    cursor: pointer;
}

#colorHeadREAL {
    width:100%;
    height:180px;
    background-color:#ee6e73;
}

#closeBtn {
    margin:3%;
}

.modal {
    max-height: 50%;
}

.topCard {
    height:600px;
}

#content {
    height:100%;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }




  #chatApplication {
      overflow:auto;
  }

  #chatRow {
      width:100%;
      margin-left:0;
      margin-right:auto;
  }


  h1 {
      color:rgb(49, 130, 145);
      font-weight:600;
      margin-left:10px;
  }

