body {
    margin: 0;
    background-color: rgb(224, 221, 221);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgb(1, 165, 149);
    color: rgb(255, 255, 255);
}

header img {
    float: left;
    width: 10vw;
}

header h1 {
    height: 10vw;
    vertical-align: middle;
    margin: 0;
    font-size: 3rem;
    float: left;
}

header a {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2rem;
}
