/* Navigation bar */
div.nav-wrapper {
    background-color: rgb(40, 154, 207);
}

div#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

div.nav-wrapper a.title {
    font-size: 3rem; 
    padding-left: 8vw; 
    font-weight: bolder;
}

div.nav-wrapper a.title strong {
    color: hsl(263, 98%, 49%);
    font-size: 4rem;
    font-weight: bolder;
}
/* Navigation bar */


/* Top */
div.parallax-container {
    height: calc(100vh - 64px);
}

div.parallax-container h1.title {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 12rem;
    font-weight: bolder;
    color: black;
}

div.parallax-container p.subtext {
    position: absolute;
    top: 58%;
    left: 40%;
    color: black;
}
/* Top */


/* Vision */
#vision {
    display: flex;
    justify-content: center;
}

.c_container {
    width:500px;
}
/* Vision */


/* Offering */
#offering {
    background-color: rgb(149, 203, 212);
    text-align: center;
}


/* Offering */

/* Features */
.info_feature {
    display: flex;
    justify-content: center;
}

.featurePic {
    width:350px;
    height:250px;
}