div.nav-wrapper {
    background-color: rgb(40, 154, 207);
}

div.nav-wrapper a.title {
    font-size: 3rem; 
    padding-left: 8vw; 
    font-weight: bolder;
}

div.nav-wrapper a.title strong {
    color: hsl(263, 98%, 49%);
    font-size: 4rem;
    font-weight: bolder;
}


#vision {
    display: flex;
    justify-content: center;
}

.c_container {
    width:500px;
}